{% extends "HRMS/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <form method="GET">
    <div class="form-group">
        <p>Группы требований и их удельные веса g(i):</p>
        <table border="2">
            <tr>
                <td align="center">Требование</td>
                <td align="center">Значимость g(i)</td>
            </tr>
            <tr>
                <td align="center">Специальные знания</td>
                <td align="center">0,37</td>
            </tr>
            <tr>
                <td align="center">Образование</td>
                <td align="center">0,26</td>
            </tr>
            <tr>
                <td align="center">Опыт</td>
                <td align="center">0,15</td>
            </tr>
            <tr>
                <td align="center">Личность</td>
                <td align="center">0,14</td>
            </tr>
            <tr>
                <td align="center">Внешний облик</td>
                <td align="center">0,08</td>
            </tr>
            <tr>
                <td align="center"><b>Итого</b></td>
                <td align="center"><b>1,00</b></td>
            </tr>
        </table>
    </div>
    <div class="form-group">
        <p>Шкала оценок требований:</p>
        <ol>
            <li>Кандидат не владеет навыком</li>
            <li>Кандидат владеет навыком недостаточно</li>
            <li>Навык у кандидата проявляется достаточно четко</li>
            <li>Навык у кандидата проявляется со средней активностью</li>
            <li>Кандидат хорошо владеет навыком</li>
            <li>Кандидат владеет навыком очень хорошо</li>
            <li>Кандидат владеет навыком превосходно</li>
        </ol>
    </div>
    <div class="form-group">
        <p>Сравнение профилей кандидатов и должности:</p>
        <table border="2">
            <tr>
                <td align="center">Профиль</td>
                {% for employee in employees %}
                    <td align="center">Профиль кандидата {{ employee.first_name }} {{ employee.last_name }}</td>
                {% endfor %}
                <td align="center">Профиль требований должности {{position.position_name}}</td>
            </tr>
            <tr>
                <td align="center">Требования</td>
                {% for index in index_range %}
                    <td align="center">{{ index }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td align="center">Специальные знания</td>
                {% for skill_grade in skills_grades %}
                    <td align="center">{{ skill_grade }}</td>
                {% endfor %}
                <td align="center">{{ requirement_grade }}</td>
            </tr>
            <tr>
                <td align="center">Образование</td>
                {% for employee in employees %}
                    <td align="center">{{ employee.education }}</td>
                {% endfor %}
                <td align="center">{{ position.education }}</td>
            </tr>
            <tr>
                <td align="center">Опыт</td>
                {% for employee in employees %}
                    <td align="center">{{ employee.experience}}</td>
                {% endfor %}
                <td align="center">{{position.experience }}</td>
            </tr>
            <tr>
                <td align="center">Личность</td>
                {% for employee in employees %}
                    <td align="center">{{ employee.sociability }}</td>
                {% endfor %}
                <td align="center">{{ position.sociability }}</td>
            </tr>
            <tr>
                <td align="center">Внешний облик</td>
                {% for employee in employees %}
                    <td align="center">{{ employee.attractiveness }}</td>
                {% endfor %}
                <td align="center">{{ position.attractiveness }}</td>
            </tr>
            <tr>
                <td align="center">Итоговая оценка</td>
                {% for employee, raiting in estimated_employees.items %}
                    <td align="center">{{ raiting }}</td>
                {% endfor %}
                <td align="center"> 0 </td>
            </tr>
        </table>
        <h3>Лучшие кандидаты:</h3>
        {% for best_employee in best_employees %}
            <p>{{ best_employee.first_name }} {{ best_employee.last_name }}</p>
        {% endfor %}
    </div>
  </form>
{% endblock content %}