{% extends "HRMS/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
              <h1 class="mr-2"><b>Должность: {{ object.position_name }}</b></h2>            

              <!-- Специальные требования -->
              <div class="article-metadata">
                  <h3 class="mr-2">Специальные требования:</h3>
                  {% for requirement in position.requirement_set.all %}
                      <p class="mr-2">Название требования: {{ requirement.requirement_name }}</p>
                      <p class="mr-2">Уровень требования: {{ requirement.value }}</p>
                  {% endfor %}
              </div>

              
              <!-- Образование -->
              <h3 class="mr-2">Образование: {{ position.education }}</h3>


              <!-- Опыт работы -->
              <h3 class="mr-2">Опыт работы: {{ position.experience }}</h3>


              <!-- Личность -->
              <h3 class="mr-2">Личность:</h3>

              <p class="mr-2">Степень выраженности 1 до 7</p>
              <p class="mr-2">1 - выраженное левое значение, 7 - выраженное правое значение</p>
              {% if position.sociability == None %}
                <p class="mr-2"><b>Замкнутость - общительность:</b> Не важно</p>
              {% else %}
                <p class="mr-2"><b>Замкнутость - общительность:</b> {{ position.sociability }}</p>
              {% endif %}
              {% if position.smart == None %}
                <p class="mr-2"><b>Менее сообразительный - более сообразительный:</b> Не важно</p>
              {% else %}
                <p class="mr-2"><b>Менее сообразительный - более сообразительный:</b> {{ position.smart }}</p>
              {% endif %}
              {% if position.emotionality == None %}
                <p class="mr-2"><b>Эмоционально устойчивый - эмоциональный:</b> Не важно</p>
              {% else %}
                <p class="mr-2"><b>Эмоционально устойчивый - эмоциональный:</b> {{ position.emotionality }}</p>
              {% endif %}
              {% if position.self_centeredness == None %}
              <p class="mr-2"><b>Ориентированный на команду - ориентированный на себя:</b>  Не важно</p>
              {% else %}
                <p class="mr-2"><b>Ориентированный на команду - ориентированный на себя:</b> {{ position.self_centeredness }}</p>
              {% endif %}
              {% if position.tension == None %}
                <p class="mr-2"><b>Раскованный - напряженный:</b>  Не важно</p>
              {% else %}
                <p class="mr-2"><b>Раскованный - напряженный:</b> {{ position.tension }}</p>
              {% endif %}


              <!-- Внешний облик -->
              <h3 class="mr-2">Внешний облик:</h3>
              
              <p class="mr-2">Степень выраженности 1 до 7</p>
              <p class="mr-2">1 - выраженное левое значение, 7 - выраженное правое значение</p>
              {% if position.attractiveness == None %}
                <p class="mr-2"><b>Менее привлекательный - более привлекательный:</b> Не важно</p>
              {% else %}
                <p class="mr-2"><b>Менее привлекательный - более привлекательный:</b> {{ position.attractiveness }}</p>
              {% endif %}
            </div>

            <form method="GET">
                <a class="btn btn-outline-info mt-1 mb-1" type="submit" href="{% url 'position-update' position.id %}">Профессиональные качества</a>
                <a class="btn btn-outline-info mt-1 mb-1" type="submit" href="{% url 'requirement-update' position.id %}">Специальные требования</a>
                <a class="btn btn-outline-info mt-1 mb-1" type="submit" href="{% url 'position_personality-update' position.id %}">Личные качества</a>
                <a class="btn btn-outline-danger mt-1 mb-1 ml-2" href="{% url 'position-delete' position.id %}">Удалить</a>
            </form>
        </div>
    </div>
    </article>
{% endblock content %}
