{% extends "HRMS/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
              <h2 class="mr-2"><b>Должность</b></h2>
              <p class="mr-2">{{ object.position_name }}</p>
              <h3 class="mr-2"><b>Требования:</b></h3>
              {% if position.foreign_language == 'Нет' %}
                <p class="mr-2"><b>Знание языка:</b>              {{ position.foreign_language }}</p>
              {% else %}
                <p class="mr-2"><b>Знание языка:</b>              {{ position.foreign_language }}</p>
              {% if position.language_level == 1 %}
                <p class="mr-2"><b>Уровень знания языка:</b> A1</p>
              {% endif %}
              {% if position.language_level == 2 %}
                <p class="mr-2"><b>Уровень знания языка:</b> A2</p>
              {% endif %}
              {% if position.language_level == 3 %}
                <p class="mr-2"><b>Уровень знания языка:</b> B1</p>
              {% endif %}
              {% if position.language_level == 4 %}
                <p class="mr-2"><b>Уровень знания языка:</b> B2</p>
              {% endif %}
              {% if position.language_level == 5 %}
                <p class="mr-2"><b>Уровень знания языка:</b> C1</p>
              {% endif %}
              {% if position.language_level == 6 %}
                <p class="mr-2"><b>Уровень знания языка:</b> C2</p>
              {% endif %}

              {% endif %}
              {% if position.education_required == 0 %}
                <p class="mr-2"><b>Образование:</b> Образование не требуется</p>
              {% endif %}
              {% if position.education_required == 1 %}
                <p class="mr-2"><b>Образование:</b> Среднее образование</p>
              {% endif %}
              {% if position.education_required == 2 %}
                <p class="mr-2"><b>Образование:</b> Высшее образование</p>
              {% endif %}
              {% if position.experience_required == 1 %}
                <p class="mr-2"><b>Опыт работы:</b> 1 год </p>
              {% endif %}
              {% if position.experience_required == 2 %}
                <p class="mr-2"><b>Опыт работы:</b> 2 года </p>
              {% endif %}
              {% if position.experience_required == 3 %}
                <p class="mr-2"><b>Опыт работы:</b> 3 года </p>
              {% endif %}
              {% if position.experience_required == 4 %}
                <p class="mr-2"><b>Опыт работы:</b> 4 года </p>
              {% endif %}
              {% if position.experience_required == 5 %}
                <p class="mr-2"><b>Опыт работы:</b> 5 лет </p>
              {% endif %}
              {% if position.course_required != None %}
                <p class="mr-2"><b>Курсы повышения квалификации:</b>      {{ position.course_required }}</p>
              {% endif %}
            </div>
            <form method="GET">
                <a class="btn btn-outline-info mt-1 mb-1" type="submit" href="{% url 'position-update' position.id %}">Редактировать</a>
                <a class="btn btn-outline-danger mt-1 mb-1 ml-2" href="{% url 'position-delete' position.id %}">Удалить</a>
            </form>
        </div>
    </div>
    </article>
{% endblock content %}
